<h3><%= t :newPost %></h3>
<%= form_for @post do |f| %>
    <%= render 'form', :f => f %>
    <div class="control-group">
        <%=  f.submit (t :newPostSubmit), :class => "btn btn-primary" %>
    </div>
<% end %>
<script>
    $(".extraTagInput, .extraTagLabel").hide();
    $("#showExtraTag").click(function(e) {
        $('#showExtraTag').hide('fast');
        $('.extraTagInput, .extraTagLabel').show('slow');
        e.preventDefault();
    });
</script>