body {
    direction: rtl;
}

.topBar {
    background-color: #2B8EF0;
}
.header {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.header h1 {
    font-family:'DIN Next LT W23 Black';
    font-size: 4em;
}

.header a {
    font-family:'DIN Next LT W23 Light';
    font-size: 2em;
    line-height: 2em;
}

.header .actions {
    text-align: left;
}

.side {
    background-color: #F0F0F0;
    height: 150px;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 10px;
    border: 1px solid #ddd;
}

.content {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}